<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Static/Stylesheets/Index.css">
    <title>Preventing Misinformation</title>
</head>
<body>
    <div class="hero">
        <div class="text">
            <p class="hero-text-small">There is</p>
            <p class="hero-text-large">FALSE INFO</p>
            <p class="hero-text-small">Everywhere</p>
        </div>
        <img src="../Static/Images/Grid.svg">
    </div>
    <div class="wrapper">
        <div class="section" id="1">
            <h1>YOU CAN'T TRUST EVERYTHING</h1>
            <p>There can be many reasons as to why <strong>disinformation</strong> is posted</p>
            <div class="cards-small">
                <div class="card-small" id="1.1">
                    <img src="../Static/Images/Phone.png">
                    <h2 class="card-small-title">To Entertain</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        For example, a picture might be wrongly captured or taken out of context to make it funny.
                    </p>
                </div>
                <div class="card-small" id="1.2">
                    <img src="../Static/Images/Speech.png">
                    <h2 class="card-small-title">To Persuade</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        For example, a picture might be wrongly captured or taken out of context to make it funny.
                    </p>
                </div>
                <div class="card-small" id="1.3">
                    <img src="../Static/Images/Disagree.png">
                    <h2 class="card-small-title">To Demean</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        For example, a picture might be wrongly captured or taken out of context to make it funny.
                    </p>
                </div>
            </div>
        </div>

        <div class="section" id="2">
            <h1>STRATEGIES TO PREVENT GETTING FOOLED</h1>
            <p>
                Being able to tell if something is real or fake. This is especially important on the internet, as it can help stop the spread of <strong>misinformation</strong>.


                Here are some strategies you can use to double-check your information:
            </p>
            <div class="cards-large">
                <div class="card-large" id="2.1">
                    <img src="../Static/Images/Calender.png">
                    <div class="card-large-divider"></div>
                    <div class="text">
                        <h2 class="card-large-title">Checking The Date</h2>
                        <p class="card-large-description">
                            Sometimes information can be outdated, which can be taken out of context.
                            This is a very common trick that can be used to mislead people.
                        </p>
                    </div>
                </div>
                <div class="card-large" id="2.2">
                    <img src="../Static/Images/Checking.png">
                    <div class="card-large-divider"></div>
                    <div class="text">
                        <h2 class="card-large-title">Investigating The Source</h2>
                        <p class="card-large-description">
                            Take a deeper dive into the information at hand, try to search up the information(lateral reading), or look more closely if there is an image or a video.
                        </p>
                    </div>
                </div>
                <div class="card-large" id="2.3">
                    <img src="../Static/Images/Magnifine.png">
                    <div class="card-large-divider"></div>
                    <div class="text">
                        <h2 class="card-large-title">Fact Checking Sites</h2>
                        <p class="card-large-description">
                            Sometimes information can be outdated, which can be taken out of context.
                            These can include government websites, reliable news sources, or myth busting sites.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="3">
            <h1>FACT CHECKING WEBSITES</h1>
            <p>These are some trusted websites which can be used to find out the truth about information online.</p>
            <div class="cards-small">
                <div class="card-small" id="3.1">
                    <img src="../Static/Images/Canada.png">
                    <h2 class="card-small-title">Government</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        The Canadian government websites provides accurate information.
                    </p>
                </div>
                <div class="card-small" id="3.2">
                    <img src="../Static/Images/CP24.png">
                    <h2 class="card-small-title">CP24</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        A trustworthy new source that is consistently non-biased.
                    </p>
                </div>
                <div class="card-small" id="3.3">
                    <img src="../Static/Images/Snopes.png">
                    <h2 class="card-small-title">Snopes</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        An online myth busting site that
                    </p>
                </div>
                <div class="card-small" id="3.4">
                    <h2 class="card-small-title">More Sites</h2>
                    <div class="card-small-divider"></div>
                    <p class="card-small-description">
                        Click <a href="/links">here</a> to view more websites.
                    </p>
                </div>
            </div>
        </div>

        <div class="section" id="4">
            <h1>EXAMPLE</h1>
            <p>
                Let's put our <strong>3 techniques</strong> to good use. Lets find out if Bluetooth earbuds are safe for you to use.
                <br>
                <br>
                <b>Statement</b>: Bluetooth earbuds give you brain cancer.
                <h5>(Hover on the card to interact)</h5>
            </p>

            <img src="../Static/Images/Arrows.png">

            <div class="cards-small">
                <div class="card-small expandable" id="4.1">
                    <h2 class="card-small-title">Government</h2>
                    <p class="card-small-description minimized">
                        Could this have been true in the past, but no longer fact now?
                    </p>
                    <p class="card-small-description expanded">
                        A Twitter(X) user posted about this topic this year(2024).
                        Lets keep checking.
                    </p>
                </div>
                <div class="card-small expandable" id="4.2">
                    <h2 class="card-small-title">Source Checking</h2>
                    <p class="card-small-description minimized">
                        Is the site trustworthy? Who posted the information?
                    </p>
                    <p class="card-small-description expanded">
                        These topics have seemed to originate from social media, it is generally not a very trustworthy place to find information.
                        Lets keep looking.
                    </p>
                </div>
                <div class="card-small expandable" id="4.3">
                    <h2 class="card-small-title">Trusted Website</h2>
                    <p class="card-small-description minimized">
                        Any one of the sites recommended above.
                    </p>
                    <p class="card-small-description expanded">
                        This claim is <a href="https://www.snopes.com/fact-check/bluetooth-earbuds-brain-cancer/">debunked on Snopes</a> and you can read the article to find out about it. In this case a government or health institution's website would have also been useful.
                    </p>
                </div>
            </div>

            <p><b>Verdict: </b>Using Bluetooth earbuds are fine; they do not cause brain cancer.</p>
        </div>
    </div>

    <div class="footer">
        <hr>

        <ul>
            By the end of reading this website, you should be able to:
            <li>Be able to identify the difference between disinformation and misinformation</li>
            <li>Understand as to why disinformation is posted</li>
            <li>Use the three strategies to prevent being fooled</li>
            <li>Have knowledge of reliable information websites.</li>
        </ul>

        <ul>
            Links
            <li><a href="/links">Trustworthy Sources</a></li>
            <li><a href="">Research</a></li>
        </ul>
    </div>

    <script src="../Static/Javascript/Index.js"></script>
</body>
</html>